body {
    margin: 0;
}


#container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: #000; /* Set a default background color */
}


#container video {
    object-fit: cover;
    align-self: center;

}

#control {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}


#debug-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
/**
#tempCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 50%;
    height: 50%;
}*/